@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400&display=swap");

@font-face {
    font-family: "Happy-Day";
    src: url("/fonts/Happy-Day.ttf");
}

@font-face {
    font-family: "Glacial-Indifference";
    src: url("/fonts/GlacialIndifference-Regular.otf");
}

body {
    font-family: "Glacial-Indifference";
    background-image: url("../img/pexels-jess-loiterton-4603529.jpg");
    background-size: cover;
    background-position: bottom;
    -webkit-animation: slidein 15s;
    animation: slidein 15s;

    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;

    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;

    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}

@-webkit-keyframes slidein {
    from {
        background-position: top;
        background-size: 3000px;
    }
    to {
        background-position: -100px 0px;
        background-size: 2750px;
    }
}

@keyframes slidein {
    from {
        background-position: top;
        background-size: 3000px;
    }
    to {
        background-position: -400px 0px;
        background-size: 2750px;
    }
}

.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1%;
}

/*-----------TEXTE INTRO */

h1 {
    font-size: 60px;
    text-transform: uppercase;
    color: #6f2dbd;
    font-family: "Happy-Day";
    letter-spacing: 5px;
    text-align: center;
    margin: 0 0 20px 0;
}

.intro {
    text-align: center;
    font-size: 30px;
}

.button {
    font-size: 16px;
    font-family: "Glacial-Indifference";
    color: #6f2dbd;
    text-align: center;
    margin: 10px;
    padding: 6px 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.button:hover {
    color: white;
    background-color: #6f2dbd;
    font-weight: bold;
}

/*-----------START SCREEN */

.startGame {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.giftButton {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.startGameButton {
    font-family: "Happy-Day";
    font-size: 50px;
    text-align: center;
    text-transform: uppercase;
    color: #6f2dbd;
    margin: 20px;
    padding: 16px 16px 12px 16px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.7);
}

.startGameButton:hover {
    color: white;
    background-color: #6f2dbd;
}

/*-----------GIFT SCREEN */

.gift {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
}

.h1Gift {
    font-size: 40px;
    margin: 0;
    text-transform: uppercase;
    color: #6f2dbd;
    font-family: "Happy-Day";
    letter-spacing: 5px;
    margin: 30px;
}

.textGift {
    max-width: 900px;
    text-align: center;
    font-size: 22px;
    line-height: 1.5;
}

.adressGift {
    font-style: italic;
}

.buttonGift {
    font-size: 20px;
    text-align: center;
    font-family: "Glacial-Indifference";
    color: #6f2dbd;
    margin: 20px;
    padding: 12px 16px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.buttonGift {
    font-size: 20px;
    text-align: center;
    font-family: "Glacial-Indifference";
    color: #6f2dbd;
    margin: 20px;
    padding: 12px 16px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.buttonGift:hover {
    color: white;
    background-color: #6f2dbd;
}

.buttonGiftGame {
    font-size: 16px;
    text-align: center;
    font-family: "Glacial-Indifference";
    background-color: #6f2dbd;
    color: white;
    margin: 20px;
    padding: 8px 7px 10px 7px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.getGiftButton {
    font-family: "Happy-Day";
    font-size: 50px;
    text-align: center;
    text-transform: uppercase;
    color: #6f2dbd;
    background-color: rgba(255, 255, 255, 0.3);
    margin: 20px;
    padding: 24px 24px 20px 24px;
    border: solid #6f2dbd;
    border-radius: 20px;
    cursor: pointer;
}

.getGiftButton:hover {
    color: white;
    background-color: #6f2dbd;
}

.imageGift {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-bottom: 30px;
}

.image {
    width: 200px;
    padding: 10px;
    border-radius: 20px;
}

/*-----------COMPONENT UNDERSCOREWORD */

.underscore {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-bottom: 30px;
}

.underscoreWord {
    margin: 0 15px;
    font-size: 60px;
    color: #47126b;
    text-transform: uppercase;
}

/*-----------COMPONENT ALPHABET */

.alphabet {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    max-width: 900px;
}

.letter {
    font-size: 40px;
    font-family: "Happy-Day";
    text-transform: uppercase;
    width: 70px;
    height: 70px;
    margin: 10px;
    padding-top: 5px;
    background-color: white;
    color: #a663cc;
    border: none;
    border-radius: 35px;
    cursor: pointer;
}

.letter:hover {
    background-color: #a663cc;
    color: white;
}

/*-----------COEURS */

.attemptText {
    text-align: center;
    font-style: italic;
    color: #47126b;
}

.attempt {
    margin-bottom: 30px;
}

#life {
    text-align: center;
}

#life .heart .empty {
    opacity: 0.3;
}

.heart {
    background-color: #fff0f2;
    display: inline-block;
    height: 20px;
    margin: 0 20px;
    position: relative;
    top: 0;
    transform: rotate(-45deg);
    width: 20px;
}

.heart:before,
.heart:after {
    content: "";
    background-color: #fff0f2;
    border-radius: 50%;
    height: 20px;
    position: absolute;
    width: 20px;
}

.heart:before {
    top: -10px;
    left: 0;
}

.heart:after {
    left: 10px;
    top: 0;
}

/*ne s'exécute que quand la largeur d'écran est <= 500px*/

@media screen and (max-width: 600px) {
    .app {
        margin: 2%;
    }
    h1 {
        font-size: 30px;
        letter-spacing: 3px;
        margin: 30px 0 10px 0;
    }
    .intro {
        font-size: 18px;
        margin: 15px 20px 0 20px;
    }
    .letter {
        font-size: 30px;
        width: 45px;
        height: 45px;
        margin: 10px;
        padding-top: 5px;
        border-radius: 35px;
    }
    #life {
        text-align: center;
        margin: 0;
    }
    .heart {
        height: 6px;
        width: 6px;
    }
    .heart:before,
    .heart:after {
        height: 6px;
        width: 6px;
    }
    .heart:before {
        top: -4px;
    }
    .heart:after {
        left: 4px;
    }
    .underscoreWord {
        margin: 25px 5px 0 5px;
        font-size: 40px;
    }
    .textGift {
        margin: 0 20px;
    }
}
